*{
     overflow: auto; 
}

 body{
            background-color: #8BA1BB;
            font-family: Arial;  
            margin: 0px;
        }

div.contenue{
    
    background-color: white;
    margin: 40px 8px 40px 8px  ; /* haut-droite-bas-gauche */
    padding: 0px 8px 20px 8px;
    overflow: visible;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 1)
       
    
}

h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
} 

.centrer{
    text-align: center;
    width: 100%;
}  
p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 0px;
    padding: 8px 18px;
    font-weight: bold;
    font-size: 16px;
}  
div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
.separateur{
    background-color: black;
    width: 100px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative; 
}
table.info{
    position: absolute; 
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
}
table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
   
}
table.info th{  
    font-size: 14px;
    padding-bottom: 8px;
    vertical-align: bottom;
  
}
imag.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgreen;
}
div.colonun{
    width: 100%;
}
div.colonun1{
    display: inline-block;
   
}

div.colonun h2{
    border-bottom: 5px solid #6C829DC0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 5px;
}


div.ing p{
    border: 1px solid lightgray;
    text-align: center;
    padding: 8px 0px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0px;
}
table.preparation p.numero{
    background-color: #6C829D;
    color: white;
    width: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;

}
table.preparation td{
    vertical-align: top;
}
table.preparation td.preparation-etap {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px; 
}

table.preparation tr{
    height: 50px;
}

div.contenue for{
    text-align: center;
    background-color: bisque;
    height: 100px;
    display: block;    
}

/* affichage pour ordinateur */
@media only screen and(min-whidth:768px)
 {
    div.contenue{
      margin: 60px 10% 80px 10% ; 
      padding: 0px 30px 30px 30px;
      min-width: 350px ;
    }

    table.info{ 
         height: 80px;
    }
    table.info td{ 
        font-size: 14px;
   }
    table.info th{
        font-size: 16px;
    }
    

    div.colonun1{
    
    width: 45%;
    display: block;
    margin-right: 10%;
    }
div.colonun2{
    float: right;
   }
div.colonun{
    width: 45%;
    margin-top: 20px;
    }
   

 }

 @media only screen and(min-whidth:900px){

    div.contenue{
      
    
      margin-left: auto;
      margin-right: auto;
      width: 645px;
    }


  }